.box-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 10;
}
.form-update {
  width: 35%;
  border-radius: 2%;
  padding: 20px;
  background-color: white;
  margin: auto;
  z-index: 100;
  opacity: 1;
 
}

form {
  .box-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  label {
    font-weight: 500;
  }
  input {
    padding: 5px;
    border: 1px solid rgb(172, 168, 168);
    border-radius:4px ;
    outline: none;
  }
  .warrming{
    color: red;
  }
}


